#div7{
	width:100%;
	height:200px;
	display:flex;
	flex-direction:column;
}

#div7>img{
	width:100%;
	display:flex;
	border-radius:20px;
	margin-top:30rpx;
}
#div7>p{
	height:5px;
}


